*{
    margin : 0px;
    padding: 0px;
}
html{
    height: 100vh;
}

#div_recherche{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 50vh;

    /* background-color: hotpink; */
}
#div_recherche button{
    height: 20px;
    width: 80px;
    margin-top: 10px;
    margin-left: 50px;
    /* padding: 5px; */
}
#conteneur_input_resultat_autocompl{
    box-shadow: 0px 2px 6px rgb(192, 192, 192);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    /* background-color: lawngreen; */
}
#div_recherche input{
    height: 40px;
    width: 300px;
    /* margin-right: 20px; */
    border-radius: 15px;
    border: none;
    padding-left: 10px;
}
input:focus{
    outline: none;
}

#resultat_autocompl{
    width: 100%;
}

.result_auto{
    background-color: transparent;
    color: gray;
    height: 35px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

}
.result_auto:hover{
    cursor: pointer;
    background-color: rgb(240, 240, 240);
}


